.taskContainer {
    flex-direction: row;
    align-items: center;
    min-width: 240px;
    min-height: 48px;
	border-style: solid;
	border-width: 0;
	padding: 8px;
}

.taskImportanceHighest {
    --bhsl-current-hue: 18deg;
    --bhsl-current-saturation: 100%;
    --bhsl-current-lightness: 75%;

    font-weight: 800;
}

.taskImportanceHigh {
    --bhsl-current-hue: 250deg;
    --bhsl-current-saturation: 100%;
    --bhsl-current-lightness: 78%;

    font-weight: 600;
}

.taskImportanceNormal {
    --bhsl-current-hue: 212deg;
    --bhsl-current-saturation: 100%;
    --bhsl-current-lightness: 81%;

    font-weight: 400;
}

.taskImportanceLow {
    --bhsl-current-hue: 160deg;
    --bhsl-current-saturation: 45%;
    --bhsl-current-lightness: 60%;

    font-weight: 300;
}

.taskImportanceLowest {
    --bhsl-current-hue: 120deg;
    --bhsl-current-saturation: 30%;
    --bhsl-current-lightness: 45%;

    font-weight: 200;
}

.taskDeadlineHour {
    border-left-width: 4px;
    padding-left: 4px;
}

.taskDeadlineDay {
	border-left-width: 3px;
	padding-left: 5px;
}

.taskDeadlineWeek {
	border-left-width: 2px;
	padding-left: 6px;
}

.taskDeadlineMonth {
	border-left-width: 1px;
	padding-left: 7px;
}

.taskDeadlineFuture {
	border-color: hsl(var(--bhsl-current-hue) var(--bhsl-current-saturation) var(--bhsl-current-lightness) / 0.25);
}

.taskDeadlinePast {
	border-color: hsl(var(--bhsl-current-hue) var(--bhsl-current-saturation) var(--bhsl-current-lightness) / 1.00);
}

@keyframes inProgress {
    0%, 100% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
}

.taskStatusNonExistent {

}

.taskStatusInProgress :global(.taskDescription) {
    animation-name: inProgress;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
}

.taskStatusComplete :global(.taskDescription) {
    opacity: 0.4;
    text-decoration: 2px currentColor solid line-through;
}

.taskStatusUnfinishedColumnHeader {

}

.taskStatusInProgressColumnHeader {
    animation-name: inProgress;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
}

.taskStatusCompleteColumnHeader {
    opacity: 0.4;
    text-decoration: 2px currentColor solid line-through;
}

.taskStatusJournaled {

}

.taskPriorityHighestColumnHeader {
    text-decoration: underline 4px solid hsl(var(--bhsl-current-hue) var(--bhsl-current-saturation) var(--bhsl-current-lightness) / 1.0);
}

.taskPriorityHighColumnHeader {
    text-decoration: underline 3px solid hsl(var(--bhsl-current-hue) var(--bhsl-current-saturation) var(--bhsl-current-lightness) / 0.75);
}

.taskPriorityNormalColumnHeader {
    text-decoration: underline 2px solid hsl(var(--bhsl-current-hue) var(--bhsl-current-saturation) var(--bhsl-current-lightness) / 0.50);
}

.taskPriorityLowColumnHeader {
    text-decoration: underline 1px solid hsl(var(--bhsl-current-hue) var(--bhsl-current-saturation) var(--bhsl-current-lightness) / 0.25);
}

.taskPriorityLowestColumnHeader {
    text-decoration: none;
}
