.taskIconComponent {
    width: 28px;
    height: 28px;
    padding: 0;
    padding-inline: 0;
    border-width: 0;
    background: transparent;

    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;

    cursor: unset;
}

.taskIconComponentClickable {
    cursor: pointer;

    transition-property: filter;
    transition-duration: 0.5s;
}

.taskIconComponentClickable:hover {
    filter: drop-shadow(0 0 4px currentColor);

    transition-duration: 0s;
}

.taskIconComponentClickable:active {
    filter: drop-shadow(0 0 6px currentColor) drop-shadow(0 0 6px currentColor);

    transition-duration: 0s;
}
