.taskImportanceHighest {
    --bhsl-current-hue: 18deg;
    --bhsl-current-saturation: 100%;
    --bhsl-current-lightness: 75%;

    font-weight: 800;
}

.taskImportanceHigh {
    --bhsl-current-hue: 250deg;
    --bhsl-current-saturation: 100%;
    --bhsl-current-lightness: 78%;

    font-weight: 600;
}

.taskImportanceNormal {
    --bhsl-current-hue: 212deg;
    --bhsl-current-saturation: 100%;
    --bhsl-current-lightness: 81%;

    font-weight: 400;
}

.taskImportanceLow {
    --bhsl-current-hue: 160deg;
    --bhsl-current-saturation: 45%;
    --bhsl-current-lightness: 60%;

    font-weight: 300;
}

.taskImportanceLowest {
    --bhsl-current-hue: 120deg;
    --bhsl-current-saturation: 30%;
    --bhsl-current-lightness: 45%;

    font-weight: 200;
}
