.taskPriorityHighest {
    border: 4px solid hsl(var(--bhsl-current-hue) var(--bhsl-current-saturation) var(--bhsl-current-lightness) / 0.45);
    padding: 4px;
}

.taskPriorityHigh {
    border: 3px solid hsl(var(--bhsl-current-hue) var(--bhsl-current-saturation) var(--bhsl-current-lightness) / 0.25);
    padding: 5px;
}

.taskPriorityNormal {
    border: 2px solid hsl(var(--bhsl-current-hue) var(--bhsl-current-saturation) var(--bhsl-current-lightness) / 0.15);
    padding: 6px;
}

.taskPriorityLow {
    border: 1px solid hsl(var(--bhsl-current-hue) var(--bhsl-current-saturation) var(--bhsl-current-lightness) / 0.15);
    padding: 7px;
}

.taskPriorityLowest {
    border: 0;
    padding: 8px;
}


.taskPriorityHighestColumnHeader {
    text-decoration: underline 4px solid hsl(var(--bhsl-current-hue) var(--bhsl-current-saturation) var(--bhsl-current-lightness) / 1.0);
}

.taskPriorityHighColumnHeader {
    text-decoration: underline 3px solid hsl(var(--bhsl-current-hue) var(--bhsl-current-saturation) var(--bhsl-current-lightness) / 0.75);
}

.taskPriorityNormalColumnHeader {
    text-decoration: underline 2px solid hsl(var(--bhsl-current-hue) var(--bhsl-current-saturation) var(--bhsl-current-lightness) / 0.50);
}

.taskPriorityLowColumnHeader {
    text-decoration: underline 1px solid hsl(var(--bhsl-current-hue) var(--bhsl-current-saturation) var(--bhsl-current-lightness) / 0.25);
}

.taskPriorityLowestColumnHeader {
    text-decoration: none;
}
