@keyframes inProgress {
    0%, 100% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
}

.taskStatusUnfinished span {

}

.taskStatusInProgress span {
	animation-name: inProgress;
	animation-delay: 0s;
	animation-direction: normal;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
}

.taskStatusComplete span {
	opacity: 0.4;
	text-decoration: 2px currentColor solid line-through;
}

.taskStatusUnfinishedColumnHeader {

}

.taskStatusInProgressColumnHeader {
    animation-name: inProgress;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
}

.taskStatusCompleteColumnHeader {
    opacity: 0.4;
    text-decoration: 2px currentColor solid line-through;
}
