.boardHeader {
	display: grid;
	align-items: center;
	grid-row-gap: 4px;
	grid-column-gap: 10px;
}

@media screen and (max-width: 768px) {
	.boardHeader {
		grid-template-areas:
			"left right"
			"title title"
	;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
	}
}

@media screen and (min-width: 769px) {
	.boardHeader {
		grid-template-areas:
			"left title right"
	;
		grid-template-columns: auto 1fr auto;
		grid-template-rows: auto;
	}
}

.buttonsArea {
	width: auto;
	min-width: unset;

	display: flex;
	gap: 4px;
}

.titleArea {
	grid-area: title;
	height: 72px;
}

.titleDisplay {
}

.titleInput {
	text-align: center;
	width: 100%;
}

.buttonsArea button {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	background-color: hsla(
		var(--bhsl-background-hue),
		var(--bhsl-background-saturation),
		var(--bhsl-background-lightness),
		100%
	);
}

.leftButtonsArea {
	grid-area: left;
	justify-self: start;
}

.rightButtonsArea {
	grid-area: right;
	justify-self: end;
}
