.pageRoot {
	display: grid;

	grid-template-areas:
		"header"
		"main"
		"editor"
	;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr 48px;
	grid-row-gap: 8px;

	justify-content: center;
	align-items: stretch;

	width: 100%;
	height: 100%;

	padding: 8px;

	overflow: hidden;
}

.pageHeader {
	grid-area: header;
}

.pageMain {
	grid-area: main;

	overflow-x: scroll;
}

.pageEditor {
	grid-area: editor;
}
