.boardMainTaskGroups {
	display: flex;
	justify-content: start;
	flex-wrap: nowrap;

	overflow-x: scroll;
	overflow-y: hidden;
}

.boardMainTaskGroups > div {
	flex-basis: 240px;
	flex-shrink: 0;
	flex-grow: 1;

	margin-right: auto;
	margin-left: auto;

	max-width: 480px;
}

.boardMainTaskGroups > div > div {
	display: flex;
	flex-direction: column;
	gap: 8px;
	overflow-y: scroll;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 8px;
}
