.boardMainTaskGroups {
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;

	overflow-x: scroll;
	overflow-y: hidden;
}

.boardMainTaskGroups > div {
	flex-basis: 240px;
	flex-shrink: 0;
	flex-grow: 1;

	margin-right: auto;
	margin-left: auto;

	max-width: 480px;
}
