.taskDiv {
	display: grid;
	grid-template-areas:
		"icon description"
	;
	grid-template-columns: auto 1fr;
	align-items: center;
	min-width: unset;
}

.taskIcon {
	grid-area: icon;
	justify-self: start;

	cursor: pointer;
}

.taskDescription {
	grid-area: description;
	justify-self: start;
}

.taskDescriptionComplete {
	text-decoration: 2px currentColor solid line-through;
}

.taskPriorityHighest {
	border: 4px solid hsl(var(--bhsl-current-hue) var(--bhsl-current-saturation) var(--bhsl-current-lightness) / 0.45);
	padding: 4px;
}

.taskPriorityHigh {
	border: 3px solid hsl(var(--bhsl-current-hue) var(--bhsl-current-saturation) var(--bhsl-current-lightness) / 0.25);
	padding: 5px;
}

.taskPriorityNormal {
	border: 2px solid hsl(var(--bhsl-current-hue) var(--bhsl-current-saturation) var(--bhsl-current-lightness) / 0.15);
	padding: 6px;
}

.taskPriorityLow {
	border: 1px solid hsl(var(--bhsl-current-hue) var(--bhsl-current-saturation) var(--bhsl-current-lightness) / 0.15);
	padding: 7px;
}

.taskPriorityLowest {
	border: 0;
	padding: 8px;
}

.asdaf {
	--something: hsl(150, 1%, 41%), hsl(213, 22%, 61%), hsl(212, 100%, 81%), hsl(6, 66%, 72%), hsl(17, 98%, 52%);
}

.taskImportanceHighest {
	--bhsl-current-hue: 15deg;
	--bhsl-current-saturation: 98%;
	--bhsl-current-lightness: 75%;

	font-weight: 800;
}

.taskImportanceHigh {
	--bhsl-current-hue: 260deg;
	--bhsl-current-saturation: 66%;
	--bhsl-current-lightness: 72%;

	font-weight: 700;
}

.taskImportanceNormal {
	--bhsl-current-hue: 212deg;
	--bhsl-current-saturation: 100%;
	--bhsl-current-lightness: 81%;

	font-weight: 400;
}

.taskImportanceLow {
	--bhsl-current-hue: 168deg;
	--bhsl-current-saturation: 22%;
	--bhsl-current-lightness: 61%;

	font-weight: 300;
}

.taskImportanceLowest {
	--bhsl-current-hue: 120deg;
	--bhsl-current-saturation: 30%;
	--bhsl-current-lightness: 30%;

	font-weight: 300;
}

@keyframes inProgress {
	0% {
		filter: brightness(100%);
	}

	100% {
		filter: brightness(150%);
	}
}

.taskStatusInProgress {
	animation: 1.7s inProgress ease-out infinite alternate-reverse;
}
