.taskEditorContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.taskEditor {
	flex-direction: row;
	align-items: center;
	border-style: dashed;

	height: 100%;
}

.taskEditorIcon {
	display: flex;
	width: 28px;
	height: 100%;
	flex-direction: column;
	justify-content: center;
}

.taskEditorInput {
	flex-grow: 1;
	border-bottom: 0;
	height: 100%;
	border-radius: var(--b-border-radius);
}
